* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*START*/
@font-face {
  font-family: Room;
  src: url("../fonts/Room-Light.ttf");
}
* {
  font-family: 'Room';
  letter-spacing: -0.01em;
  color: #FFFFFF;
  font-weight: 700;
  cursor: default;
}
body {
  background: -webkit-gradient(linear, left top, right top, from(#1363DF), color-stop(62.09%, #47B5FF));
  background: linear-gradient(90deg, #1363DF 0%, #47B5FF 62.09%);
  overflow: auto;
}
.wrapper {
  background: -webkit-gradient(linear, left top, right top, from(#1363DF), color-stop(62.09%, #47B5FF));
  background: linear-gradient(90deg, #1363DF 0%, #47B5FF 62.09%);
}
.container {
  margin: 0 auto;
}
.first-section {
  position: relative;
  height: 100vh;
}
.first-section__content {
  padding-left: 105px;
  padding-top: 100px;
  padding-bottom: 125px;
  z-index: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
@media (max-height: 770px) {
  .first-section__content {
    padding-top: 70px;
  }
}
@media (max-height: 610px) or (max-width: 600px) {
  .first-section__content {
    padding-top: 40px;
    padding-left: 80px;
  }
}
@media (max-width: 420px) {
  .first-section__content {
    padding-top: 30px;
    padding-left: 50px;
  }
}
.svg {
  width: auto;
  height: 100%;
}
.svg-container {
  position: absolute;
  top: 0;
  right: 0;
}
.svg-container__wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
}
@media (max-width: 1920px) {
  .svg-container__wrapper {
    max-height: 1080px;
  }
}
@media (min-height: 1300px) and (max-width: 1450px) {
  .svg-container__wrapper {
    display: none;
  }
}
@media (max-width: 1250px) {
  .svg-container__wrapper {
    display: none;
  }
}
.grid-svg {
  position: absolute;
  top: 0;
  right: 0;
  height: 90%;
}
.check-svg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 25%;
}
.diamonds-svg {
  position: absolute;
  top: 30%;
  right: 0;
  height: 13%;
}
.radio-svg {
  position: absolute;
  top: 46%;
  right: 25%;
  height: 11%;
}
.click-svg {
  position: absolute;
  top: 46%;
  right: 0;
  height: 20%;
}
.rhombus-svg {
  position: absolute;
  bottom: 0%;
  left: 40%;
  height: 30%;
}
.windows-svg {
  position: absolute;
  bottom: 0;
  left: 55%;
  height: 40%;
}
.circle-svg {
  position: absolute;
  bottom: 0;
  right: 0%;
  height: 30%;
}
.logo {
  aspect-ratio: 1;
  width: 10%;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1280px) {
  .logo {
    width: 150px;
  }
}
@media (max-width: 420px) {
  .logo {
    width: 120px;
  }
}
@media (max-width: 320px) {
  .logo {
    width: 100px;
  }
}
.title {
  font-size: 200px;
  color: #2985ED;
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (max-height: 770px) {
  .title {
    font-size: 150px;
  }
}
@media (max-height: 610px) or (max-width: 750px) {
  .title {
    font-size: 100px;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 80px;
  }
}
@media (max-width: 320px) {
  .title {
    font-size: 70px;
  }
}
.subtitle {
  font-size: 50px;
  color: #FFFFFF;
  line-height: 48px;
}
@media (max-height: 770px) {
  .subtitle {
    font-size: 35px;
    line-height: 36px;
  }
}
@media (max-height: 610px) or (max-width: 600px) {
  .subtitle {
    font-size: 26px;
    line-height: 28px;
  }
}
@media (max-width: 420px) {
  .subtitle {
    font-size: 22px;
    line-height: 24px;
  }
}
@media (max-width: 320px) {
  .subtitle {
    font-size: 18px;
    line-height: 20px;
  }
}
.button {
  background-color: #48B6FF;
  max-width: 330px;
  padding: 24px;
  font-size: 40px;
  text-align: center;
  margin-top: 70px;
  color: #FFF;
  padding-top: 20px;
  cursor: pointer;
}
@media (max-height: 770px) {
  .button {
    font-size: 34px;
    padding: 12px;
    max-width: 280px;
  }
}
@media (max-height: 610px) or (max-width: 420px) {
  .button {
    font-size: 26px;
    padding: 8px;
    max-width: 220px;
  }
}
.main-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main-section__title {
  font-size: 180px;
  letter-spacing: 15px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: -30px;
}
@media (max-height: 770px) {
  .main-section__title {
    font-size: 130px;
  }
}
@media (max-height: 610px) or (max-width: 1000px) {
  .main-section__title {
    font-size: 100px;
  }
}
@media (max-width: 600px) {
  .main-section__title {
    font-size: 80px;
  }
}
@media (max-width: 500px) {
  .main-section__title {
    font-size: 50px;
    letter-spacing: 10px;
  }
}
@media (max-width: 360px) {
  .main-section__title {
    font-size: 45px;
  }
}
@media (max-width: 290px) {
  .main-section__title {
    font-size: 35px;
    letter-spacing: 5px;
  }
}
.main-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main-section__left-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main-section__right-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main-section .button {
  margin: 0 auto;
}
.main-section .button {
  margin-bottom: 20px;
}
.left-side__title {
  font-size: 36px;
  padding-left: 25%;
}
@media (max-height: 770px) {
  .left-side__title {
    font-size: 30px;
  }
}
@media (max-height: 610px) or (max-width: 600px) {
  .left-side__title {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .left-side__title {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .left-side__title {
    font-size: 18px;
  }
}
.left-side__item {
  position: relative;
}
.left-side__big-title {
  font-size: 68px;
  color: #3091F1;
  text-transform: uppercase;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
@media (max-height: 770px) {
  .left-side__big-title {
    font-size: 50px;
  }
}
@media (max-height: 610px) or (max-width: 600px) {
  .left-side__big-title {
    font-size: 38px;
  }
}
@media (max-width: 500px) {
  .left-side__big-title {
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  .left-side__big-title {
    font-size: 26px;
  }
}
.left-side__block {
  max-width: 50%;
  margin-left: 30%;
  z-index: 1;
  position: relative;
}
.block__title {
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 32px;
  padding-bottom: 10px;
}
@media (max-height: 770px) {
  .block__title {
    font-size: 24px;
    padding-top: 22px;
  }
}
@media (max-height: 610px) or (max-width: 600px) {
  .block__title {
    font-size: 20px;
    padding-top: 18px;
  }
}
@media (max-width: 500px) {
  .block__title {
    font-size: 16px;
    padding-top: 12px;
  }
}
@media (max-width: 360px) {
  .block__title {
    font-size: 14px;
    padding-top: 11px;
  }
}
.block__text {
  font-size: 28px;
  font-weight: 100;
}
@media (max-height: 770px) {
  .block__text {
    font-size: 20px;
  }
}
@media (max-height: 610px) or (max-width: 600px) {
  .block__text {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .block__text {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .block__text {
    font-size: 12px;
  }
}
.right-side__title {
  font-size: 36px;
  padding-left: 5%;
}
@media (max-height: 770px) {
  .right-side__title {
    font-size: 30px;
  }
}
@media (max-height: 610px) or (max-width: 600px) {
  .right-side__title {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .right-side__title {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .right-side__title {
    font-size: 18px;
  }
}
.right-side__item {
  position: relative;
}
.right-side__big-title {
  font-size: 68px;
  color: #3DA6F9;
  text-transform: uppercase;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding-left: 10%;
}
@media (max-height: 770px) {
  .right-side__big-title {
    font-size: 50px;
  }
}
@media (max-height: 610px) or (max-width: 600px) {
  .right-side__big-title {
    font-size: 38px;
  }
}
@media (max-width: 500px) {
  .right-side__big-title {
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  .right-side__big-title {
    font-size: 26px;
  }
}
.right-side__block {
  max-width: 80%;
  margin-left: 10%;
  z-index: 1;
  position: relative;
}
.last-section {
  height: 100vh;
}
.last-section__content {
  font-size: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}
@media (max-height: 610px) or (max-width: 780px) {
  .last-section__content {
    font-size: 50px;
  }
}
@media (max-width: 500px) {
  .last-section__content {
    font-size: 40px;
  }
}
.last-section__first-item {
  padding-left: 15%;
}
@media (max-width: 420px) {
  .last-section__first-item {
    padding-left: 10%;
  }
}
.last-section__number {
  position: absolute;
  color: blue;
  font-size: 200px;
  bottom: 0;
  opacity: 0.15;
  margin-bottom: -20px;
}
@media (max-height: 610px) or (max-width: 780px) {
  .last-section__number {
    font-size: 150px;
    margin-bottom: -10px;
  }
}
@media (max-width: 500px) {
  .last-section__number {
    font-size: 100px;
    margin-bottom: -5px;
  }
}
.last-section__text {
  position: relative;
  z-index: 1;
}
.last-section__second-item {
  padding-left: 30%;
}
@media (max-width: 420px) {
  .last-section__second-item {
    padding-left: 20%;
  }
}
.last-section__third-item {
  padding-left: 45%;
}
@media (max-width: 420px) {
  .last-section__third-item {
    padding-left: 30%;
  }
}
.last-section__fourth-item {
  padding-left: 60%;
}
@media (max-width: 420px) {
  .last-section__fourth-item {
    padding-left: 40%;
  }
}
.last-section .item {
  position: relative;
}
.last-section .button {
  margin: 0 auto;
}
