* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*START*/
@font-face {
  font-family: Room;
  src: url("../fonts/Room-Light.ttf");
}
* {
  font-family: 'Room';
  letter-spacing: -0.01em;
  color: #FFFFFF;
  font-weight: 700;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #2da7ff;
  border: 0px none #2da7ff;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0095ff;
}
::-webkit-scrollbar-thumb:active {
  background: #004a80;
}
::-webkit-scrollbar-track {
  background: #bde4ff;
  border: 0px none #bde4ff;
}
::-webkit-scrollbar-track:hover {
  background: #bde4ff;
}
::-webkit-scrollbar-track:active {
  background: #bde4ff;
}
::-webkit-scrollbar-corner {
  background: #bde4ff;
}
.wrapper {
  background: -webkit-gradient(linear, left top, right top, from(#1363DF), color-stop(62.09%, #47B5FF));
  background: linear-gradient(90deg, #1363DF 0%, #47B5FF 62.09%);
  padding-bottom: 200px;
}
@media (max-width: 1575px) {
  .wrapper {
    padding-bottom: 100px;
  }
}
.container {
  margin: 0 auto;
}
.first-section {
  position: relative;
  height: 1275px;
}
.first-section__content {
  padding-left: 105px;
  padding-top: 125px;
  z-index: 1;
  position: relative;
}
@media (max-width: 1290px) {
  .first-section {
    height: 1000px;
  }
}
@media (max-width: 1290px) {
  .svg {
    display: none;
  }
}
.grid-svg {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1060px) {
  .grid-svg {
    display: none;
  }
}
.check-svg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.diamonds-svg {
  position: absolute;
  top: 340px;
  right: 0;
}
.radio-svg {
  position: absolute;
  top: 545px;
  right: 520px;
}
.click-svg {
  position: absolute;
  top: 545px;
  right: 0px;
}
.rhombus-svg {
  position: absolute;
  top: 830px;
  right: 855px;
}
.windows-svg {
  position: absolute;
  top: 735px;
  right: 255px;
}
.circle-svg {
  position: absolute;
  top: 830px;
  right: 0px;
}
.logo {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1575px) {
  .logo {
    width: 150px;
    height: 150px;
  }
}
.logo__inside-container {
  padding-left: 30px;
}
@media (max-width: 1575px) {
  .logo__inside-container {
    padding-left: 22px;
  }
}
@media (max-width: 1575px) {
  .logo__top {
    width: 85px;
    margin-bottom: -1px;
  }
}
@media (max-width: 1575px) {
  .logo__bottom {
    width: 110px;
    margin-top: -1px;
  }
}
.title {
  font-size: 240px;
  color: #2985ED;
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 1575px) {
  .title {
    font-size: 200px;
  }
}
.subtitle {
  font-size: 64px;
  color: #FFFFFF;
  line-height: 77px;
}
@media (max-width: 1575px) {
  .subtitle {
    font-size: 52px;
    line-height: 60px;
  }
}
.button {
  background-color: #48B6FF;
  max-width: 330px;
  padding: 24px;
  font-size: 40px;
  text-align: center;
  margin-top: 70px;
  color: #FFF;
  padding-top: 20px;
}
@media (max-width: 1575px) {
  .button {
    max-width: 280px;
    padding: 18px;
    font-size: 34px;
  }
}
.main-section {
  margin-bottom: 210px;
}
@media (max-width: 1575px) {
  .main-section {
    margin-bottom: 130px;
  }
}
.main-section__title {
  font-size: 300px;
  letter-spacing: 15px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: -63px;
  padding-bottom: 70px;
}
@media (max-width: 1575px) {
  .main-section__title {
    font-size: 250px;
    margin-top: -53px;
  }
}
@media (max-width: 1290px) {
  .main-section__title {
    font-size: 200px;
    padding-bottom: 50px;
  }
}
@media (max-width: 1060px) {
  .main-section__title {
    font-size: 150px;
  }
}
.main-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 110px;
}
@media (max-width: 1575px) {
  .main-section__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-section__left-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main-section__right-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main-section .button {
  margin: 0 auto;
}
.left-side__title {
  font-size: 64px;
  padding-left: 360px;
}
@media (max-width: 1575px) {
  .left-side__title {
    font-size: 60px;
    padding-left: 45%;
  }
}
.left-side__item {
  position: relative;
}
@media (max-width: 1575px) {
  .left-side__item {
    margin-left: 50%;
  }
}
.left-side__big-title {
  font-size: 128px;
  color: #3091F1;
  text-transform: uppercase;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
@media (max-width: 1290px) {
  .left-side__big-title {
    font-size: 100px;
  }
}
.left-side__block {
  max-width: 590px;
  margin-left: 360px;
  z-index: 1;
  position: relative;
  padding-left: 50px;
}
@media (max-width: 1575px) {
  .left-side__block {
    padding-left: 0px;
    margin-left: 0px;
  }
}
.block__title {
  font-size: 48px;
  text-transform: uppercase;
  padding-top: 70px;
  padding-bottom: 10px;
}
@media (max-width: 1290px) {
  .block__title {
    font-size: 40px;
    padding-top: 50px;
  }
}
.block__text {
  font-size: 48px;
  font-weight: 100;
}
@media (max-width: 1290px) {
  .block__text {
    font-size: 40px;
  }
}
.right-side__title {
  font-size: 64px;
  padding-left: 170px;
}
@media (max-width: 1575px) {
  .right-side__title {
    padding-left: 0px;
  }
}
@media (max-width: 1290px) {
  .right-side__title {
    font-size: 60px;
  }
}
.right-side__item {
  position: relative;
}
.right-side__big-title {
  font-size: 128px;
  color: #3DA6F9;
  text-transform: uppercase;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding-left: 220px;
}
@media (max-width: 1575px) {
  .right-side__big-title {
    padding-left: 50px;
  }
}
@media (max-width: 1290px) {
  .right-side__big-title {
    font-size: 100px;
  }
}
.right-side__block {
  max-width: 590px;
  margin-left: 170px;
  z-index: 1;
  position: relative;
  padding-left: 50px;
}
@media (max-width: 1575px) {
  .right-side__block {
    margin-left: 0px;
  }
}
.last-section__content {
  font-size: 128px;
  margin-bottom: 110px;
}
@media (max-width: 1290px) {
  .last-section__content {
    font-size: 96px;
  }
}
.last-section__first-item {
  padding-left: 15%;
}
.last-section__number {
  position: absolute;
  color: blue;
  font-size: 250px;
  bottom: 0;
  opacity: 0.15;
  margin-bottom: -20px;
}
@media (max-width: 1290px) {
  .last-section__number {
    font-size: 200px;
  }
}
.last-section__text {
  position: relative;
  z-index: 1;
}
.last-section__second-item {
  padding-left: 30%;
}
.last-section__third-item {
  padding-left: 45%;
}
.last-section__fourth-item {
  padding-left: 60%;
}
.last-section .item {
  margin-bottom: 125px;
  position: relative;
}
@media (max-width: 1575px) {
  .last-section .item {
    margin-bottom: 75px;
  }
}
.last-section .button {
  margin: 0 auto;
}
