@import '../less/null-style.less';
@font-face {
    font-family: Room;
    src:url("../fonts/Room-Light.ttf");
}
* {
    font-family: 'Room';
    letter-spacing: -0.01em;
    color: #FFFFFF;
    font-weight: 700;
    cursor: default;
}

// ::-webkit-scrollbar {
//   width: 6px;
//   height: 6px;
// }
// ::-webkit-scrollbar-button {
//   width: 0px;
//   height: 0px;
// }
// ::-webkit-scrollbar-thumb {
//   background: #2da7ff;
//   border: 0px none #2da7ff;
//   border-radius: 100px;
// }
// ::-webkit-scrollbar-thumb:hover {
//   background: #0095ff;
// }
// ::-webkit-scrollbar-thumb:active {
//   background: #004a80;
// }
// ::-webkit-scrollbar-track {
//   background: #bde4ff;
//   border: 0px none #bde4ff;
// }
// ::-webkit-scrollbar-track:hover {
//   background: #bde4ff;
// }
// ::-webkit-scrollbar-track:active {
//   background: #bde4ff;
// }
// ::-webkit-scrollbar-corner {
//   background: #bde4ff;
// }
body {
    background: linear-gradient(90deg, #1363DF 0%, #47B5FF 62.09%);
    overflow-y: auto;
    height: 100%;
}

.wrapper {
    background: linear-gradient(90deg, #1363DF 0%, #47B5FF 62.09%);
    height: 100%;
}
.container {
    height: 100%;
    margin: 0 auto;
}
.first-section {
    position: relative;
    height: 25%;
		&__content {
            padding-left: 105px;
            padding-top: 100px;
            padding-bottom: 125px;
            z-index: 1;
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
            @media(max-height: 770px) {
                padding-top: 70px;
                padding-bottom: 70px;
            }
            @media(max-height: 610px) or (max-width: 600px) {
                padding-top: 40px;
                padding-left: 80px;
                padding-bottom: 50px;
                justify-content: space-around;
            }
            @media (max-width: 420px) {
                padding-top: 30px;
                padding-left: 50px;
            }
		}
}
.svg {
    width: auto;
    height: 100%;
}
.svg-container {
position: absolute;
top: 0;
right: 0;
&__wrapper {
    height: 100vh; width: 100vw; position: relative; 
    @media(max-width: 1920px) {
        max-height: 1080px;
    }
    @media (min-height: 1300px) and (max-width: 1450px) {
        display: none;
}
    @media (max-width: 1250px) {
        display: none;
    }

}
}
.grid-svg {
    position: absolute;
    top: 0;
    right: 0;
    height: 90%;
}
.check-svg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 25%;
}
.diamonds-svg {
    position: absolute;
    top: 30%;
    right: 0;
    height: 13%;
}
.radio-svg {
    position: absolute;
    top: 46%;
    right: 25%;
    height: 11%;
}
.click-svg {
    position: absolute;
    top: 46%;
    right: 0;
    height: 20%;
}
.rhombus-svg {
    position: absolute;
    bottom: 0%;
    left: 40%;
    height: 30%;
}
.windows-svg {
    position: absolute;
    bottom: 0;
    left: 55%;
    height: 40%;
}
.circle-svg {
    position: absolute;
    bottom: 0;
    right: 0%;
    height: 30%;
}
.logo {
    aspect-ratio: 1 / 1;
    width: 10%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    @media(max-width: 1280px) {
        width: 150px;
    }
    @media(max-width: 420px) {
        width: 120px;
    }
    @media (max-width: 320px) {
        width: 100px;
    }
}
.title {
    font-size: 200px;
    color: #2985ED;
    padding-top: 12px;
    padding-bottom: 12px;
    @media(max-height: 770px) {
        font-size: 150px;
    }
    @media(max-height: 610px) or (max-width: 750px) {
        font-size: 100px;
    }
    @media (max-width: 420px) {
        font-size: 80px;
    }
    @media (max-width: 320px) {
        font-size: 70px;
    }
}
.subtitle {
    font-size: 50px;
    color: #FFFFFF;
    line-height: 48px;
    @media(max-height: 770px) {
        font-size: 35px;
        line-height: 36px;
    }
    @media(max-height: 610px) or (max-width: 600px) {
        font-size: 26px;
        line-height: 28px;
    }
    @media (max-width: 420px) {
        font-size: 22px;
        line-height: 24px;
    }
    @media (max-width: 320px) {
        font-size: 18px;
        line-height: 20px;
    }
}
.button {
    background-color: #48B6FF;
    max-width: 330px;
    padding: 24px;
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
    color: #FFF;
    padding-top: 20px;
    cursor: pointer;
    @media(max-height: 770px) {
        font-size: 34px;
        padding: 12px;
        max-width: 280px;
    }
    @media(max-height: 610px) or (max-width: 420px) {
        font-size: 26px;
        padding: 8px;
        max-width: 220px;
    }
}
.main-section {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
		&__title {
            font-size: 180px;
            letter-spacing: 15px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-top: -30px;
            @media(max-height: 770px) {
                font-size: 130px;
            }
            @media(max-height: 610px) or (max-width: 1000px) {
                font-size: 100px;
            }
            @media (max-width: 600px) {
                font-size: 80px;
            }
            @media (max-width: 500px) {
                font-size: 50px;
                letter-spacing: 10px;
            }
            @media (max-width: 360px) {
                font-size: 45px;
            }
            @media (max-width: 290px) {
                font-size: 35px;
                letter-spacing: 5px;
            }

		}

		&__content {
            display: flex;
            flex-direction: row;
		}

		&__left-side {
            flex: 1;
		}

		&__right-side {
            flex: 1;
            
		}
        .button {
            margin: 0 auto;
        }
        .button {
            margin-bottom: 20px;
        }
}
.left-side {

		&__title {
            font-size: 36px;
            padding-left: 25%;
            @media(max-height: 770px) {
                font-size: 30px;
            }
            @media(max-height: 610px) or (max-width: 600px) {
                font-size: 24px;
            }
            @media (max-width: 500px) {
                font-size: 20px;
            }
            @media (max-width: 360px) {
                font-size: 18px;
            }
		}

		&__item {
            position: relative;
		}

		&__big-title {
            font-size: 68px;
            color: #3091F1;
            text-transform: uppercase;
            position: absolute;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            @media(max-height: 770px) {
                font-size: 50px;
            }
            @media(max-height: 610px) or (max-width: 600px) {
                font-size: 38px;
            }
            @media (max-width: 500px) {
                font-size: 30px;
            }
            @media (max-width: 395px) {
                font-size: 26px;
            }
		}

		&__block {
            max-width: 50%;
            margin-left: 30%;
            z-index: 1;
            position: relative;
		}
}
.block {

		&__title {
            font-size: 30px;
            text-transform: uppercase;
            padding-top: 32px;
            padding-bottom: 10px;
            @media(max-height: 770px) {
                font-size: 24px;
                padding-top: 22px;
            }
            @media(max-height: 610px) or (max-width: 600px) {
                font-size: 20px;
                padding-top: 18px;
            }
            @media (max-width: 500px) {
                font-size: 16px;
                padding-top: 12px;
            }
            @media (max-width: 360px) {
                font-size: 14px;
                padding-top: 11px;
            }
		}

		&__text {
            font-size: 28px;
            font-weight: 100;
            @media(max-height: 770px) {
                font-size: 20px;
            }
            @media(max-height: 610px) or (max-width: 600px) {
                font-size: 16px;
            }
            @media (max-width: 500px) {
                font-size: 14px;
            }
            @media (max-width: 360px) {
                font-size: 12px;
            }
		}
}
.right-side {

		&__title {
            font-size: 36px;
            padding-left: 5%;
            @media(max-height: 770px) {
                font-size: 30px;
            }
            @media(max-height: 610px) or (max-width: 600px) {
                font-size: 24px;
            }
            @media (max-width: 500px) {
                font-size: 20px;
            }
            @media (max-width: 360px) {
                font-size: 18px;
            }
		}

		&__item {
            position: relative;
		}

		&__big-title {
            font-size: 68px;
            color: #3DA6F9;
            text-transform: uppercase;
            position: absolute;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            padding-left: 10%;
            @media(max-height: 770px) {
                font-size: 50px;
            }
            @media(max-height: 610px) or (max-width: 600px) {
                font-size: 38px;
            }
            @media (max-width: 500px) {
                font-size: 30px;
            }
            @media (max-width: 395px) {
                font-size: 26px;
            }
		}

		&__block {
            max-width: 80%;
            margin-left: 10%;
            z-index: 1;
            position: relative;
		}
}
.last-section {
    height: 25%;
		&__content {
            font-size: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            @media(max-height: 610px) or (max-width: 780px) {
                font-size: 50px;
            }
            @media (max-width: 500px) {
                font-size: 40px;
            }
		}

		&__first-item {
            padding-left: 15%;
            @media (max-width: 420px) {
                padding-left: 10%;
            }
		}

		&__number {
            position: absolute;
            color: blue;
            font-size: 200px;
            bottom: 0;
            opacity: 0.15;
            margin-bottom: -20px;
            @media(max-height: 610px) or (max-width: 780px) {
                font-size: 150px;
                margin-bottom: -10px;
            }
            @media (max-width: 500px) {
                font-size: 100px;
                margin-bottom: -5px;
            }
		}

		&__text {
            position: relative;
            z-index: 1;
		}

		&__second-item {
            padding-left: 30%;
            @media (max-width: 420px) {
                padding-left: 20%;
            }
		}

		&__third-item {
            padding-left: 45%;
            @media (max-width: 420px) {
                padding-left: 30%;
            }
		}

		&__fourth-item {
            padding-left: 60%;
            @media (max-width: 420px) {
                padding-left: 40%;
            }
		}
        .item {
            position: relative;
        }
        .button {
            margin: 0 auto;
        }
}
